body {
    font-family: 'Montserrat', sans-serif;
    background-color: #171923;
    color: #fff;
}

.x-crazy {
    width: 200px;
}

.navbar {
    background-color: #20242F;
}

.btn-user {
    background-color: #3D1E51;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}

.btn-user:hover {
    background-color: #fff;
    color: #3D1E51;
    transition: 0.6s all;
    font-weight: 700;
}



@media (max-width: 667px) {
    .ifr {
        width: 330px;
        height: 320px;   
    }

    .navbar-toggler:hover {
        background-color: #3D1E51;
    }
}